<div class="sidebar-left" id="events-bar">
    <button id="show-events" type="button" name="show-events">See Events</button>
    <div id="events-list">
        <h2>Upcoming events</h2>
        <ul id="events-ul"></ul>
    </div>
</div>
