<article class="post-card">
    <div class="post-summary">
        <h2 class="post-title">Sport Specific Title</h2>
        <p class="post-date"></p>
        <a class="poster-name">by Kurt</a>
    </div>
    <p class="post-text"></p>
    <a class="read-more-button">Comments</a>
    <p class="score">10</p>
    <p class="id"></p>
    <div class="vote-buttons">
        <i class="material-icons upvote">arrow_upward</i>
        <i class="material-icons downvote">arrow_downward</i>
    </div>
</article>
