<div id="profile-window">
    <h2 id='profile-window-username'>{{{username}}}</h2>
    <p><i class="material-icons">person</i></p>
    <a href="/myprofile" id="my-profile-button">My Profile</a>
    <button id='logout-button'>Log Out</button>
</div>
