<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Boxscore</title>
        <link rel="icon" type="image/ico" href="../images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../js/ui.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/stubhub_api_easier.js"></script>
    </head>

    <body>

        {{> eventsbar}}
        {{{body}}}

    </body>

    <footer>
        &copy; Boxscore 2016
    </footer>

</html>
