<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Group9 CSC309 Project</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../js/ui.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/stubhub_api_easier.js"></script>
    </head>

    <body>

        {{> eventsbar}}
        {{{body}}}

    </body>

    <footer>
        by Kurt van Bendegem, Kazi Arif, Berk Karapence, and Paul Budnarain
    </footer>

</html>
