{{> topbar}}


<h2 class="page-header">{{viewedUser}}'s profile</h2>

<div id="user-profile">
    <h2 id="profile-username">{{viewedUser}}</h2>
    <p><strong>Total score:</strong> {{score}}</p>
</div>


<h2 class="page-header">Posts</h2>


<section id="user-post-well">
    {{> postcard}}
</section>
